In [4]:
#install.packages("tidyverse")
#install.packages("fixest")
library(tidyverse)
library(fixest)

In [5]:
data <- read_csv('https://osf.io/5c3rf/download')
View(data)

Rows: 249 Columns: 27
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (26): personid, treatment, type, quitjob, age, costofcommute, children, ...
lgl  (1): ordertaker

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    personid treatment ordertaker type quitjob age costofcommute children male
1    3906    1         FALSE      2    0       33   8            1        0
2    4122    1          TRUE      1    0       30  18            0        0
3    4448    0         FALSE      2    0       35  10            1        0
4    4942    1         FALSE      4    0       27  20            0        0
5    5018    1         FALSE      4    0       29  15            1        0
6    5614    1         FALSE      5    0       32   0            0        1
7    6278    0          TRUE      1    1       32  12            1        0
8    6362    0         FALSE      4    0       29  12            1        0
9    6364    0         FALSE      4    0       26  12            1        0
10   7068    0         FALSE      4    0       28   0            0        0
11   7076    0         FALSE      3    0       30   0            1        0
12   7488    1         FALSE      2    0       25  18            0        0
13   7720    0          TRUE      1    0       25   9            0        0
14   8522    0         FALSE      2    0       30   6            1        0
15   8834    0          TRUE      1    0       22   0            0        0
16   8854    1          TRUE      1    0       22   4            0        0
17   8980    1         FALSE      2    0       25  10            0        0
18   9710    0         FALSE      3    0       33  10            0        0
19  10098    0          TRUE      1    1       28  12            1        0
20  10226    1         FALSE      5    0       22   0            0        0
21  10356    1          TRUE      1    0       27   0            0        1
22  10794    1         FALSE      2    0       32   5            1        0
23  10822    1         FALSE      2    0       26   4            0        0
24  11348    0         FALSE      4    0       25   8            1        0
25  11390    0         FALSE      2    0       31  25            0        1
26  11868    1         FALSE      4    0       30  10            0        1
27  12306    0         FALSE      2    0       24  14            0        1
28  12426    0          TRUE      1    0       30   0            0        0
29  12896    0         FALSE      2    0       26  10            0        0
30  12974    1          TRUE      1    0       22   0            0        0
⋮   ⋮        ⋮         ⋮          ⋮    ⋮       ⋮   ⋮             ⋮        ⋮
220 42308    1          TRUE      1    0       23  12            0        0
221 42592    1          TRUE      1    0       23   8            0        0
222 42618    1          TRUE      1    1       22   2            0        1
223 42624    1          TRUE      1    0       23  10            0        0
224 42628    1          TRUE      1    0       22  10            0        1
225 42632    0          TRUE      1    0       21  12            0        0
226 42634    0          TRUE      1    1       20   0            0        1
227 42682    0          TRUE      1    1       22  16            0        0
228 43258    0          TRUE      1    0       22   8            0        1
229 43264    1          TRUE      1    0       22  12            0        1
230 43270    1         FALSE      2    0       25  16            0        0
231 43278    1         FALSE      2    0       23  10            0        0
232 43286    1         FALSE      2    0       20   5            0        0
233 43288    1          TRUE      1    1       21   6            0        1
234 43500    0         FALSE      2    0       27  10            1        0
235 43524    0          TRUE      1    1       24  10            0        1
236 43534    1          TRUE      1    0       23  10            0        1
237 43570    0          TRUE      1    0       18  12            0        1
238 43926    1          TRUE      1    0       22   0            0        1
239 44256    0         FALSE      2    1       21   0            0        0
240 44266    1          TRUE      1    0       19  17            0        1
241 44282    0          TRUE      1    0       20  12            0        0
242 44408    1          TRUE      1    0       22  10            0        0
243 44782    1          TRUE      1    0       23   0            0        1
244 44784    1          TRUE      1    0       31   0            0        1
245 44794    0          TRUE      1    1       23  10            0        1
246 44800    0          TRUE      1    0       25  12            0        1
247 45238    1         FALSE      2    0       22   4            0        1
248 45254    0          TRUE      1    0       23   4            0        1
249 45442    0          TRUE      1    0       22   0            0        1
    married ⋯ ageyoungestchild rental bedroom second_technical high_school
1   1       ⋯ 10               0      1       0                1
2   0       ⋯  0               0      0       0                1
3   1       ⋯ 11               0      1       0                1
4   1       ⋯  0               0      1       1                0
5   1       ⋯  0               0      1       1                0
6   1       ⋯  0               0      1       0                1
7   1       ⋯  5               0      1       0                0
8   1       ⋯  3               0      1       1                0
9   1       ⋯  2               0      1       1                0
10  1       ⋯  0               1      1       0                0
11  1       ⋯ 11               0      1       0                0
12  0       ⋯  0               0      1       1                0
13  0       ⋯  0               0      1       0                0
14  1       ⋯  5               0      1       1                0
15  0       ⋯  0               1      0       1                0
16  0       ⋯  0               1      1       1                0
17  0       ⋯  0               0      1       1                0
18  1       ⋯  0               0      1       0                1
19  1       ⋯  8               0      1       0                0
20  0       ⋯  0               1      0       1                0
21  0       ⋯  0               1      1       0                0
22  1       ⋯  7               0      1       0                1
23  1       ⋯  0               0      1       0                1
24  1       ⋯  2               0      1       1                0
25  1       ⋯  0               0      1       0                1
26  0       ⋯  0               0      1       0                0
27  0       ⋯  0               0      1       1                0
28  1       ⋯  0               1      1       0                0
29  1       ⋯  0               0      1       0                0
30  0       ⋯  0               1      1       1                0
⋮   ⋮       ⋱ ⋮                ⋮      ⋮       ⋮                ⋮
220 1       ⋯ 0                0      1       0                0
221 0       ⋯ 0                0      1       1                0
222 0       ⋯ 0                0      1       0                0
223 0       ⋯ 0                0      1       0                1
224 0       ⋯ 0                0      1       1                0
225 0       ⋯ 0                0      1       0                1
226 0       ⋯ 0                1      1       0                0
227 1       ⋯ 0                0      1       0                1
228 0       ⋯ 0                0      1       1                0
229 0       ⋯ 0                0      1       0                0
230 0       ⋯ 0                0      1       0                1
231 0       ⋯ 0                0      1       0                0
232 0       ⋯ 0                0      1       1                0
233 0       ⋯ 0                1      1       1                0
234 1       ⋯ 3                0      1       0                0
235 0       ⋯ 0                0      1       1                0
236 0       ⋯ 0                0      1       0                0
237 0       ⋯ 0                0      1       1                0
238 0       ⋯ 0                0      1       1                0
239 0       ⋯ 0                0      1       1                0
240 0       ⋯ 0                0      1       1                0
241 0       ⋯ 0                0      1       1                0
242 0       ⋯ 0                0      1       1                0
243 0       ⋯ 0                0      1       1                0
244 0       ⋯ 0                0      1       0                0
245 0       ⋯ 0                0      1       1                0
246 0       ⋯ 0                0      1       0                0
247 0       ⋯ 0                1      1       1                0
248 0       ⋯ 0                0      1       0                0
249 0       ⋯ 0                0      1       1                0
    tertiary_technical university internet phonecalls0 phonecalls1
1   0                  0          1         0.000       0.000
2   0                  0          1        21.335      21.797
3   0                  0          1         0.000       0.000
4   0                  0          1         0.000       0.000
5   0                  0          1         0.000       0.000
6   0                  0          1         0.000       0.000
7   1                  0          1        11.701       8.729
8   0                  0          1         0.000       0.000
9   0                  0          1         0.000       0.000
10  1                  0          1         0.000       0.000
11  1                  0          1         0.000       0.000
12  0                  0          1         0.000       0.000
13  1                  0          1        10.587       9.549
14  0                  0          1         0.000       0.000
15  0                  0          1        24.719      21.238
16  0                  0          1        25.527      24.094
17  0                  0          1         0.000       0.000
18  0                  0          1         0.000       0.000
19  1                  0          1        21.634       0.582
20  0                  0          1         0.000       0.000
21  1                  0          1        24.479      17.850
22  0                  0          1         0.000       0.000
23  0                  0          1         0.000       0.000
24  0                  0          1         0.000       0.000
25  0                  0          1         0.000       0.000
26  1                  0          1         0.000       0.000
27  0                  0          1         0.000       0.000
28  1                  0          1         8.483       0.000
29  1                  0          1         0.000       0.000
30  0                  0          1        21.459      19.289
⋮   ⋮                  ⋮          ⋮        ⋮           ⋮
220 1                  0          1        18.747       2.686
221 0                  0          1        19.418      14.111
222 1                  0          1        13.275       1.414
223 0                  0          1        20.849      16.741
224 0                  0          1        17.589      15.874
225 0                  0          1        19.829      12.916
226 1                  0          1        12.737      10.051
227 0                  0          1        21.539       0.000
228 0                  0          1        12.516      12.952
229 1                  0          1         9.681      11.776
230 0                  0          1         0.000       0.000
231 1                  0          1         0.000       0.000
232 0                  0          1         0.000       0.000
233 0                  0          1        10.126       2.508
234 1                  0          1         0.000       0.000
235 0                  0          1        10.251       3.569
236 1                  0          1        11.666      14.454
237 0                  0          1        12.262      11.896
238 0                  0          1        11.454      12.542
239 0                  0          1         0.000       6.088
240 0                  0          1         8.661      10.631
241 0                  0          1        12.348      13.213
242 0                  0          1        11.786      17.300
243 0                  0          1        11.943      15.912
244 1                  0          1         8.755      12.475
245 0                  0          1         8.057       0.539
246 1                  0          1        11.345      12.975
247 0                  0          1         0.000       0.000
248 1                  0          1         7.467       9.589
249 0                  0          1         7.527      10.459

In [6]:
# Number of treated and control units
table(data$treatment)
table(data$ordertaker)
table(data$treatment, data$ordertaker)

  0   1
118 131

FALSE  TRUE
  115   134

    FALSE TRUE
  0    52   66
  1    63   68

In [7]:
# It is a prepared, cleaned dataset, one thing is needed: modifying the ageyoungestchild variable
table(data$ageyoungestchild)
data$ageyoungestchild <- ifelse(data$children == 0, NA, data$ageyoungestchild)

  0   1   2   3   4   5   6   7   8  10  11  13
210  10   7   8   3   2   1   2   1   2   2   1

In [8]:
data_temp <- data %>% 
  select(ordertaker, age:perform10, prior_experience:internet)

In [9]:
# Generating empty table-elements
vars <- colnames(data_temp)
rm(data_temp)
mean_t <- c()
mean_c <- c()
sd <- c()
p_value <- c()
model <- c()

# Generating statistics to the table
for(i in vars){
  model <- lm(paste(i, "~treatment"), data=data) 
  mean_c[i] <- mean(subset(data, treatment == 0)[[paste(i)]], na.rm=T)
  mean_t[i] <- mean(subset(data, treatment == 1)[[paste(i)]], na.rm=T)
  p_value[i] <- anova(model)$'Pr(>F)'[1]
  sd[i] <- sd(data[[paste(i)]], na.rm=T)
}

# Filling table
table <- data.frame(round(mean_t, 2), round(mean_c, 2), round(sd, 2), round(p_value, 2))
col.names <- c("Treatment mean", "Control mean", "Std.dev.", "p-value of test of equal means")  
names(table) <- col.names
print(table)

                   Treatment mean Control mean Std.dev.
ordertaker                   0.52         0.56     0.50
age                         24.44        24.35     3.55
costofcommute                7.89         8.34     6.96
children                     0.11         0.24     0.38
male                         0.47         0.47     0.50
married                      0.22         0.32     0.44
perform10                   -0.03        -0.04     0.58
prior_experience            18.96        16.75    25.88
tenure                      26.14        28.25    21.92
basewage                  1539.86      1562.80   161.45
bonus                     1030.90      1092.59   625.33
grosswage                 2949.73      3003.36   789.63
ageyoungestchild             4.60         3.00     3.35
rental                       0.24         0.20     0.42
bedroom                      0.97         0.99     0.14
second_technical             0.46         0.47     0.50
high_school                  0.18         0.14     0.36
tertiary_technical           0.35         0.36     0.48
university                   0.02         0.03     0.15
internet                     0.99         1.00     0.06
                   p-value of test of equal means
ordertaker                                   0.53
age                                          0.85
costofcommute                                0.61
children                                     0.01
male                                         0.99
married                                      0.07
perform10                                    0.87
prior_experience                             0.50
tenure                                       0.45
basewage                                     0.26
bonus                                        0.44
grosswage                                    0.59
ageyoungestchild                             0.14
rental                                       0.44
bedroom                                      0.22
second_technical                             0.79
high_school                                  0.39
tertiary_technical                           0.94
university                                   0.34
internet                                     0.34

In [10]:
########## Regression
# Regression 1: ATE estimates, no covariates
reg1 <- feols(quitjob ~ treatment, data=data , vcov = "HC1")
reg2 <- feols(phonecalls1 ~ treatment, data=data[data$ordertaker==1, ], vcov = "HC1")
etable(reg1,reg2,fitstat = c('n','r2'))

                  reg1                reg2
1 Dependent Var.: quitjob             phonecalls1
2
3 Constant        0.3475*** (0.0440)  10.06*** (0.7504)
4 treatment       -0.1872*** (0.0545) 4.039*** (0.9891)
5 _______________ ___________________ _________________
6 S.E. type       Heteroskedast.-rob. Heteroskeda.-rob.
7 Observations    249                 134
8 R2              0.04670             0.11258

In [11]:
# Regression 2: ATE estimates, with covariates
reg3 <- feols(quitjob ~ treatment + married + children, data=data, vcov = "HC1")
reg4 <- feols(phonecalls1 ~ treatment + married + children, data=data[data$ordertaker==1, ], vcov = "HC1")
etable(reg3,reg4,fitstat = c('n','r2'))

                   reg3                reg4
1  Dependent Var.: quitjob             phonecalls1
2
3  Constant        0.3628*** (0.0493)  10.65*** (0.7589)
4  treatment       -0.1866*** (0.0556) 4.056*** (0.9562)
5  married         -0.1290. (0.0742)   -5.439* (2.170)
6  children        0.1103 (0.0972)     3.872 (2.408)
7  _______________ ___________________ _________________
8  S.E. type       Heteroskedast.-rob. Heteroskeda.-rob.
9  Observations    249                 134
10 R2              0.05428             0.16763

In [12]:
smallsample <- filter(data, ordertaker==1 & quitjob==0)
reg5 <- feols(phonecalls1 ~ treatment, data=smallsample, vcov = "HC1")
reg6 <- feols(phonecalls1 ~ treatment + married + children, data=smallsample, vcov = "HC1")
etable(reg5,reg6,fitstat = c('n','r2'))

                   reg5              reg6
1  Dependent Var.: phonecalls1       phonecalls1
2
3  Constant        13.86*** (0.6578) 14.17*** (0.5678)
4  treatment       1.747* (0.8430)   1.869* (0.7856)
5  married                           -5.907. (3.002)
6  children                          5.770. (3.191)
7  _______________ _________________ _________________
8  S.E. type       Heteroskeda.-rob. Heteroskeda.-rob.
9  Observations    95                95
10 R2              0.04476           0.16904

In [13]:
# Phonecalls regression together
etable(reg2,reg4,reg6,fitstat = c('n','r2'))

                   reg2              reg4              reg6
1  Dependent Var.: phonecalls1       phonecalls1       phonecalls1
2
3  Constant        10.06*** (0.7504) 10.65*** (0.7589) 14.17*** (0.5678)
4  treatment       4.039*** (0.9891) 4.056*** (0.9562) 1.869* (0.7856)
5  married                           -5.439* (2.170)   -5.907. (3.002)
6  children                          3.872 (2.408)     5.770. (3.191)
7  _______________ _________________ _________________ _________________
8  S.E. type       Heteroskeda.-rob. Heteroskeda.-rob. Heteroskeda.-rob.
9  Observations    134               134               95
10 R2              0.11258           0.16763           0.16904